<!-- measurements-form.component.html -->
 <h2>Customer : {{customerName}}</h2>
<div class="container">
    <div>
      <!-- Customer ID (hidden field) -->
      <input  type="hidden">

      <!-- Front Neck Deep -->
      <div class="form-group">
        <label for="frontneckdeep">1)Front Neck Deep:</label>
        <input id="frontneckdeep" [(ngModel)]="measurements.frontneckdeep" type="text" placeholder="Enter Front Neck Deep" >
      </div>
  
      <!-- Back Neck Deep -->
      <div class="form-group">
        <label for="backneckdeep">1)Back Neck Deep:</label>
        <input id="backneckdeep" [(ngModel)]="measurements.backneckdeep" type="text" placeholder="Enter Back Neck Deep" >
      </div>
 
      <!-- Apex Point Length -->
      <div class="form-group">
        <label for="apexpointlength">1)Apex Point Length:</label>
        <input id="apexpointlength" [(ngModel)]="measurements.apexpointlength" type="text" placeholder="Enter Apex Point Length" >
      </div>
   
      <!-- Blouse Length -->
      <div class="form-group">
        <label for="blouselength">1)Blouse Length:</label>
        <input id="blouselength" [(ngModel)]="measurements.blouselength" type="text" placeholder="Enter Blouse Length" >
      </div>
  
      <!-- Side Cut Length -->
      <div class="form-group">
        <label for="sidecutlength">1)Side Cut Length:</label>
        <input id="sidecutlength" [(ngModel)]="measurements.sidecutlength" type="text" placeholder="Enter Side Cut Length" >
      </div>
  
      <!-- Dress Length -->
      <div class="form-group">
        <label for="dresslength">1)Dress Length:</label>
        <input id="dresslength" [(ngModel)]="measurements.dresslength" type="text" placeholder="Enter Dress Length" >
      </div>
   
      <!-- Neck Round -->
      <div class="form-group">
        <label for="neckround">2)Neck Round:</label>
        <input id="neckround" [(ngModel)]="measurements.neckround" type="text" placeholder="Enter Neck Round" >
      </div>
  
      <!-- Shoulder -->
      <div class="form-group">
        <label for="sholder">2)Shoulder:</label>
        <input id="sholder"  type="text" [(ngModel)]="measurements.sholder" placeholder="Enter Shoulder" class="form-control">
      </div>
  
      <!-- Shoulder Slope -->
      <div class="form-group">
        <label for="sholderslope">2)Shoulder Slope:</label>
        <input id="sholderslope" [(ngModel)]="measurements.sholderslope" type="text" placeholder="Enter Shoulder Slope" >
      </div>
 
      <!-- Across Front -->
      <div class="form-group">
        <label for="acrossfront">2)Across Front:</label>
        <input id="acrossfront" [(ngModel)]="measurements.acrossfront" type="text" placeholder="Enter Across Front" >
      </div>
  
      <!-- Across Back -->
      <div class="form-group">
        <label for="acrossback">2)Across Back:</label>
        <input id="acrossback" [(ngModel)]="measurements.acrossback" type="text" placeholder="Enter Across Back" >
      </div>
  
      <!-- Chest -->
      <div class="form-group">
        <label for="chest">3)Chest:</label>
        <input id="chest" [(ngModel)]="measurements.chest" type="text" placeholder="Enter Chest" >
      </div>
  
      <!-- Bust -->
      <div class="form-group">
        <label for="bust">3)Bust:</label>
        <input id="bust" [(ngModel)]="measurements.bust" type="text" placeholder="Enter Bust" >
      </div>
  
      <!-- Waist -->
      <div class="form-group">
        <label for="weist">3)Waist:</label>
        <input id="weist" [(ngModel)]="measurements.weist" type="text" placeholder="Enter Waist" >
      </div>
  
      <!-- Hip -->
      <div class="form-group">
        <label for="heap">3)Hip:</label>
        <input id="heap" [(ngModel)]="measurements.heap" type="text" placeholder="Enter Hip" class="form-control">
      </div>
  
      <!-- Armhole Left -->
      <div class="form-group">
        <label for="armholdleft">4)Armhole Left:</label>
        <input id="armholdleft" [(ngModel)]="measurements.armholdleft" type="text" placeholder="Enter Armhole Left" >
      </div>
  
      <!-- Armhole Right -->
      <div class="form-group">
        <label for="armholdright">4)Armhole Right:</label>
        <input id="armholdright" [(ngModel)]="measurements.armholdright" type="text" placeholder="Enter Armhole Right" >
      </div>
  
      <!-- Bicep Left -->
      <div class="form-group">
        <label for="bicepleft">4)Bicep Left:</label>
        <input id="bicepleft" [(ngModel)]="measurements.bicepleft" type="text" placeholder="Enter Bicep Left" >
      </div>
  
      <!-- Bicep Right -->
      <div class="form-group">
        <label for="bicepright">4)Bicep Right:</label>
        <input id="bicepright" [(ngModel)]="measurements.bicepright" type="text" placeholder="Enter Bicep Right" >
      </div>
    
      <!-- Sleeve Length -->
      <div class="form-group">
        <label for="sleevelength">5)Sleeve Length:</label>
        <input id="sleevelength" [(ngModel)]="measurements.sleevelength" type="text" placeholder="Enter Sleeve Length" >
      </div>

      <!-- Mori -->
      <div class="form-group">
        <label for="mori">6)Mori:</label>
        <input id="mori" [(ngModel)]="measurements.mori" type="text" placeholder="Enter Mori" >
      </div>

      <!-- Pant Waist -->
      <div class="form-group">
        <label for="pantweist">7)Pant Waist:</label>
        <input id="pantweist" [(ngModel)]="measurements.pantweist" type="text" placeholder="Enter Pant Waist" >
      </div>
  
      <!-- Pant Hip -->
      <div class="form-group">
        <label for="pantheap">7)Pant Hip:</label>
        <input id="pantheap" [(ngModel)]="measurements.pantheap" type="text" placeholder="Enter Pant Hip" >
      </div>
  
      <!-- Pant Crotch -->
      <div class="form-group">
        <label for="pantcroch">7)Pant Crotch:</label>
        <input id="pantcroch" [(ngModel)]="measurements.pantcroch" type="text" placeholder="Enter Pant Crotch" >
      </div>
  
      <!-- Pant Jang -->
      <div class="form-group">
        <label for="pantjang">7)Pant Jang:</label>
        <input id="pantjang" [(ngModel)]="measurements.pantjang" type="text" placeholder="Enter Pant Jang" >
      </div>
  
      <!-- Pant Knee -->
      <div class="form-group">
        <label for="pantknee">8)Pant Knee:</label>
        <input id="pantknee" [(ngModel)]="measurements.pantknee" type="text" placeholder="Enter Pant Knee" >
      </div>
  
      <!-- Pant Ankle -->
      <div class="form-group">
        <label for="pantankel">8)Pant Ankle:</label>
        <input id="pantankel" [(ngModel)]="measurements.pantankel" type="text" placeholder="Enter Pant Ankle" >
      </div>
  
      <!-- Pant Mori -->
      <div class="form-group">
        <label for="pantmori">8)Pant Mori:</label>
        <input id="pantmori" [(ngModel)]="measurements.pantmori" type="text" placeholder="Enter Pant Mori" >
      </div>
  
      <!-- Pant Length -->
      <div class="form-group">
        <label for="pantlength">8)Pant Length:</label>
        <input id="pantlength" [(ngModel)]="measurements.pantlength" type="text" placeholder="Enter Pant Length" >
      </div>
  
      <!-- Chaniya Wrist -->
      <div class="form-group">
        <label for="chaniyawrist">8)Chaniya Wrist:</label>
        <input id="chaniyawrist" [(ngModel)]="measurements.chaniyawrist" type="text" placeholder="Enter Chaniya Wrist" >
      </div>
  
      <!-- Chaniya Length -->
      <div class="form-group">
        <label for="chaniyaheap">8)Chaniya Length:</label>
        <input id="chaniyalength" [(ngModel)]="measurements.chaniyalength" type="text" placeholder="Enter Chaniya Length" >
      </div>
  
      <!-- Chaniya Hip -->
      <div class="form-group">
        <label for="chaniyaheap">Chaniya Hip:</label>
        <input id="chaniyaheap" [(ngModel)]="measurements.chaniyaheap" type="text" placeholder="Enter Chaniya Hip" >
      </div>
 
      <!-- One Piece Length -->
      <div class="form-group">
        <label for="onepiecelength">One Piece Length:</label>
        <input id="onepiecelength" [(ngModel)]="measurements.onepiecelength" type="text" placeholder="Enter One Piece Length" >
      </div>
      
      <div class="btn-group">
        <button (click)="submitForm()" type="submit" class="btn">Submit</button>
        <button (click)="openPopUp()" class="btn">GeneratePdf</button>
        <button (click)="printThermal()">
          {{ isPrinting ? 'Preparing...' : 'Print Receipt' }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showItemNumberPopup" class="popup">
    <div class="popup-content" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <span class="close" (click)="showItemNumberPopup = false">&times;</span>
      <h2>Item Number Confirmation</h2>
      <div class="form-group">
        <label for="itemNumber">Item Number:</label>
        <input id="itemNumber" [(ngModel)]="itemNumber" type="text" placeholder="Enter Item Number">
      </div>
      <div class="btn-group">
        <button (click)="confirmItemNumber()">Confirm</button>
        <button (click)="showItemNumberPopup = false">Cancel</button>
      </div>
    </div>
  </div>