<!-- measurements-form.component.html -->
 <h2>Customer : {{customerName}}</h2>
<div class="container">
    <div>
      <!-- Customer ID (hidden field) -->
      <input  type="hidden">
  
      <!-- Shoulder -->
      <div class="form-group">
        <label for="sholder">Shoulder:</label>
        <input id="sholder"  type="number" [(ngModel)]="measurements.sholder" placeholder="Enter Shoulder" class="form-control">
      </div>
  
      <!-- Shoulder Slope -->
      <div class="form-group">
        <label for="sholderslope">Shoulder Slope:</label>
        <input id="sholderslope" [(ngModel)]="measurements.sholderslope" type="number" placeholder="Enter Shoulder Slope" >
      </div>
  
      <!-- Neck Round -->
      <div class="form-group">
        <label for="neckround">Neck Round:</label>
        <input id="neckround" [(ngModel)]="measurements.neckround" type="number" placeholder="Enter Neck Round" >
      </div>
  
      <!-- Front Neck Deep -->
      <div class="form-group">
        <label for="frontneckdeep">Front Neck Deep:</label>
        <input id="frontneckdeep" [(ngModel)]="measurements.frontneckdeep" type="number" placeholder="Enter Front Neck Deep" >
      </div>
  
      <!-- Back Neck Deep -->
      <div class="form-group">
        <label for="backneckdeep">Back Neck Deep:</label>
        <input id="backneckdeep" [(ngModel)]="measurements.backneckdeep" type="number" placeholder="Enter Back Neck Deep" >
      </div>
  
      <!-- Across Front -->
      <div class="form-group">
        <label for="acrossfront">Across Front:</label>
        <input id="acrossfront" [(ngModel)]="measurements.acrossfront" type="number" placeholder="Enter Across Front" >
      </div>
  
      <!-- Across Back -->
      <div class="form-group">
        <label for="acrossback">Across Back:</label>
        <input id="acrossback" [(ngModel)]="measurements.acrossback" type="number" placeholder="Enter Across Back" >
      </div>
  
      <!-- Chest -->
      <div class="form-group">
        <label for="chest">Chest:</label>
        <input id="chest" [(ngModel)]="measurements.chest" type="number" placeholder="Enter Chest" >
      </div>
  
      <!-- Bust -->
      <div class="form-group">
        <label for="bust">Bust:</label>
        <input id="bust" [(ngModel)]="measurements.bust" type="number" placeholder="Enter Bust" >
      </div>
  
      <!-- Waist -->
      <div class="form-group">
        <label for="weist">Waist:</label>
        <input id="weist" [(ngModel)]="measurements.weist" type="number" placeholder="Enter Waist" >
      </div>
  
      <!-- Hip -->
      <div class="form-group">
        <label for="heap">Hip:</label>
        <input id="heap" [(ngModel)]="measurements.heap" type="number" placeholder="Enter Hip" class="form-control">
      </div>
  
      <!-- Armhole Left -->
      <div class="form-group">
        <label for="armholdleft">Armhole Left:</label>
        <input id="armholdleft" [(ngModel)]="measurements.armholdleft" type="number" placeholder="Enter Armhole Left" >
      </div>
  
      <!-- Armhole Right -->
      <div class="form-group">
        <label for="armholdright">Armhole Right:</label>
        <input id="armholdright" [(ngModel)]="measurements.armholdright" type="number" placeholder="Enter Armhole Right" >
      </div>
  
      <!-- Bicep Left -->
      <div class="form-group">
        <label for="bicepleft">Bicep Left:</label>
        <input id="bicepleft" [(ngModel)]="measurements.bicepleft" type="number" placeholder="Enter Bicep Left" >
      </div>
  
      <!-- Bicep Right -->
      <div class="form-group">
        <label for="bicepright">Bicep Right:</label>
        <input id="bicepright" [(ngModel)]="measurements.bicepright" type="number" placeholder="Enter Bicep Right" >
      </div>
  
      <!-- Mori -->
      <div class="form-group">
        <label for="mori">Mori:</label>
        <input id="mori" [(ngModel)]="measurements.mori" type="number" placeholder="Enter Mori" >
      </div>
  
      <!-- Sleeve Length -->
      <div class="form-group">
        <label for="sleevelength">Sleeve Length:</label>
        <input id="sleevelength" [(ngModel)]="measurements.sleevelength" type="number" placeholder="Enter Sleeve Length" >
      </div>
  
      <!-- Apex Point Length -->
      <div class="form-group">
        <label for="apexpointlength">Apex Point Length:</label>
        <input id="apexpointlength" [(ngModel)]="measurements.apexpointlength" type="number" placeholder="Enter Apex Point Length" >
      </div>
  
      <!-- Blouse Length -->
      <div class="form-group">
        <label for="blouselength">Blouse Length:</label>
        <input id="blouselength" [(ngModel)]="measurements.blouselength" type="number" placeholder="Enter Blouse Length" >
      </div>
  
      <!-- Side Cut Length -->
      <div class="form-group">
        <label for="sidecutlength">Side Cut Length:</label>
        <input id="sidecutlength" [(ngModel)]="measurements.sidecutlength" type="number" placeholder="Enter Side Cut Length" >
      </div>
  
      <!-- Dress Length -->
      <div class="form-group">
        <label for="dresslength">Dress Length:</label>
        <input id="dresslength" [(ngModel)]="measurements.dresslength" type="number" placeholder="Enter Dress Length" >
      </div>
  
      <!-- One Piece Length -->
      <div class="form-group">
        <label for="onepiecelength">One Piece Length:</label>
        <input id="onepiecelength" [(ngModel)]="measurements.onepiecelength" type="number" placeholder="Enter One Piece Length" >
      </div>
  
      <!-- Pant Waist -->
      <div class="form-group">
        <label for="pantweist">Pant Waist:</label>
        <input id="pantweist" [(ngModel)]="measurements.pantweist" type="number" placeholder="Enter Pant Waist" >
      </div>
  
      <!-- Pant Hip -->
      <div class="form-group">
        <label for="pantheap">Pant Hip:</label>
        <input id="pantheap" [(ngModel)]="measurements.pantheap" type="number" placeholder="Enter Pant Hip" >
      </div>
  
      <!-- Pant Crotch -->
      <div class="form-group">
        <label for="pantcroch">Pant Crotch:</label>
        <input id="pantcroch" [(ngModel)]="measurements.pantcroch" type="number" placeholder="Enter Pant Crotch" >
      </div>
  
      <!-- Pant Jang -->
      <div class="form-group">
        <label for="pantjang">Pant Jang:</label>
        <input id="pantjang" [(ngModel)]="measurements.pantjang" type="number" placeholder="Enter Pant Jang" >
      </div>
  
      <!-- Pant Knee -->
      <div class="form-group">
        <label for="pantknee">Pant Knee:</label>
        <input id="pantknee" [(ngModel)]="measurements.pantknee" type="number" placeholder="Enter Pant Knee" >
      </div>
  
      <!-- Pant Ankle -->
      <div class="form-group">
        <label for="pantankel">Pant Ankle:</label>
        <input id="pantankel" [(ngModel)]="measurements.pantankel" type="number" placeholder="Enter Pant Ankle" >
      </div>
  
      <!-- Pant Mori -->
      <div class="form-group">
        <label for="pantmori">Pant Mori:</label>
        <input id="pantmori" [(ngModel)]="measurements.pantmori" type="number" placeholder="Enter Pant Mori" >
      </div>
  
      <!-- Pant Length -->
      <div class="form-group">
        <label for="pantlength">Pant Length:</label>
        <input id="pantlength" [(ngModel)]="measurements.pantlength" type="number" placeholder="Enter Pant Length" >
      </div>
  
      <!-- Chaniya Wrist -->
      <div class="form-group">
        <label for="chaniyawrist">Chaniya Wrist:</label>
        <input id="chaniyawrist" [(ngModel)]="measurements.chaniyawrist" type="number" placeholder="Enter Chaniya Wrist" >
      </div>
  
      <!-- Chaniya Hip -->
      <div class="form-group">
        <label for="chaniyaheap">Chaniya Hip:</label>
        <input id="chaniyaheap" [(ngModel)]="measurements.chaniyaheap" type="number" placeholder="Enter Chaniya Hip" >
      </div>
  
      <!-- Chaniya Length -->
      <div class="form-group">
        <label for="chaniyaheap">Chaniya Length:</label>
        <input id="chaniyalength" [(ngModel)]="measurements.chaniyaheap" type="number" placeholder="Enter Chaniya Length" >
      </div>
  
      <button (click)="submitForm()" type="submit" class="btn">Submit</button>
    </div>
  </div>
  