  <app-loader-component [isLoading]="loading"></app-loader-component>
<div class="customer-management-container">
    <div class="search-add-container">
      <div class="search-bar">
        <input type="text" placeholder="Search customers..." [(ngModel)]="searchTerm" (keyup)="onSearchEmpty()">
        <img src="../../../assets/search.png" alt="Search" class="search-icon" (click)="searchCustomer()">
      </div>

    </div>
    <div class="customer-list">
        <div *ngFor="let customer of filteredCustomers" class="customer-card" (click)="goToMeasurment(customer.id)">
          <h3>{{ customer.name +" "+customer.surname}}</h3>
          <p>{{ customer.phonenumber }}</p>
         </div>
    </div>
</div>