<nav class="navbar">
    <div class="container">
      <div class="logo">Perfect</div>
  
      <!-- Desktop Menu -->
      <div class="menu desktop-menu">
        <a routerLink="/customer-manager">Customers</a>
        <a routerLink="/customer-manager/order">Order</a>
        <a routerLink="/customer-manager/measurement">Measurement</a>
        <a (click)="logout()" style="border-radius: 20px; background-color: red; box-shadow: inset 2px 2px 5px #2d3748;  cursor: pointer;">Logout</a>
        <button aria-label="Notifications" class="notification-btn">
          <img src="../../../assets/notification.png" alt="Notifications" class="icon" />
        </button>
      </div>
  
      <!-- Mobile Menu -->
      <div class="mobile-controls">
        <button aria-label="Notifications" class="notification-btn">
          <img src="../../../assets/notification.png" alt="Notifications" class="icon" />
        </button>
        <button (click)="toggleMenu()" class="menu-btn" aria-label="Toggle menu">
          <img [src]="isOpen ? '../../../assets/close.png' : '../../../assets/Hamburger_icon.svg.png'" alt="Menu" class="icon" />
        </button>
      </div>
    </div>
  
    <!-- Mobile Menu Items -->
    <div *ngIf="isOpen" class="mobile-menu">
      <a routerLink="/customer-manager" (click)="toggleMenu()">Customers</a>
      <a routerLink="/customer-manager/order" (click)="toggleMenu()">Order</a>
      <a routerLink="/customer-manager/measurement" (click)="toggleMenu()">Measurement</a>
      <a href="#" (click)="logout()">Logout</a>
    </div>
  </nav>
  