.order-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  #order-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 2px solid #f0f0f0;
  }
  .order-info {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .clothing-items h3 {
    margin-top: 30px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }
  
  .item-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .back-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-details p {
    margin: 5px 0;
  }
  
  @media (max-width: 600px) {
    .item-card {
      flex-direction: column;
    }
  
    .item-image {
      width: 100%;
      height: auto;
      margin-right: 0;
    }
  }
  .btn-div{
    display: flex;
    flex-direction: row;
  }
  .complete{
    background: rgb(71, 255, 71);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    max-height: 50px;
    color: white;
    font-size: large;
    font-weight: bold;
    margin: 20px 0px;
    cursor: pointer;
  }
  .button-63 {
    margin: 20px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 15px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-63:active,
  .button-63:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-63 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  